<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= yield :body_id %>">
    <div id="container-fluid">
      <!--navigation start -->
      <%= render partial: "layouts/header" %>
      <%= render partial: "shared/flash_msg" %>
      <!--navigation end -->

      <!--main start -->
      <div id="main-wrap">
        <div class="container">
          <div id="main" class="clearfix">
            <%= yield %>
          </div>
        </div>
      </div>
      <!--main end -->

      <!--footer start -->
      <%= render partial: "layouts/footer" %>
      <!--footer end -->
    </div>
  </body>
</html>
